<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content="A story game."/>
        <meta name="author" content="Michael Louis Thaler"/>
        <title>Story Game!</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    </head>
    <body>
        <p>Game ID: <%= @game_id %></p>
    </body>
</html>
